.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.75rem;
  margin-top: 1rem;
  background: #191a1a;
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2);
}

.cardFlexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.cardContainer {
  padding: 10px 16px;
  box-sizing: border-box;
  /* create 2 columns */
  min-width: 50%;
}

.cardImg {
  width: 15rem;
  height: auto;
  border-radius: 0.75rem;
}

.cardContainer span {
  font-size: 1.25rem;
  margin: 0;
}
.cardContainer p {
  margin: 0;
  color: #999;
}
