*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  line-height: 1.6;
  font-size: 18px;
  width: 100%;
  overflow-x: hidden;
  color: white;
  background-color: #111;
}

main {
  margin-bottom: 3rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

a {
  color: #487bf6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: max(8vh, 56px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

nav .navItem {
  height: max(8vh, 56px);
  color: white;
  font-size: 1.1rem;
  font-variant: small-caps;
  text-rendering: auto;
  text-align: center;
  vertical-align: middle;
  margin-left: 1.25rem;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
  text-decoration: none;
  border-bottom: 1px white solid;
}

nav a .fullLogo {
  height: 50px;
  height: max(8vh, 56px);
}

.fullLogo:hover {
  filter: saturate(10%);
}

section > h2 {
  text-align: center;
}

hr {
  border: 1px white solid;
  width: 80%;
  text-align: center;
}
